.btn-quizz{
    padding: 0px 50px; /*0 pixeles arriba y abajo 5opx a los lados*/
}
.bg-black{
    background-color: rgb(51, 51, 51);
}

.fas{
    cursor: pointer;/*pasar el mouse sobre el icono se mueve*/
    font-size: 25px; /*aumenta tamaño del icono*/
    margin: 0px 2px; /*opx arriba abajo y 2px a los lados*/
}

.fa-chart-line{
    color: darkcyan;
}

.fa-trash-alt{
    color: #a71c28;
}